node_modules
lib
tests/file_tests.ts
tests/7fee15f7-8dba-41ed-a4c0-94821ce798a6.wav
tests/How I create long hours of Deep Work - PhD student.mp3
tests/How I create long hours of Deep Work - PhD student.wav
tests/test_conv.json
.vscode/settings.json
